section.container{
    position:relative;
    background-color: bisque;
    padding: 15px;
    width:fit-content;
    border-radius: 8px;
   box-shadow: 5px 5px  6px rgb(22, 21, 21);
    
}
body{
    background-color: rgb(29, 95, 133);
    margin: 50px;
}
input{
    background-color: transparent;
    padding: 6px;
}
select{
    background-color: transparent;
    border: 2px solid rgb(73, 70, 70);
    padding: 6px;

}
*{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

button{
    background-color: rgb(29, 95, 133);
    color:azure;
    border:none;
    padding: 12px;
}
h1{
 color: bisque;
}
